In [1]:
import pandas as pd
import numpy as np

In [2]:
churn = pd.read_csv("C:\\Users\\BHANARAM\\Downloads\\churn.csv")

In [3]:
churn.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
churn = churn.drop(['customerID','TotalCharges'],axis=1)

In [5]:
churn.info

<bound method DataFrame.info of       gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0     Female              0     Yes         No       1           No
1       Male              0      No         No      34          Yes
2       Male              0      No         No       2          Yes
3       Male              0      No         No      45           No
4     Female              0      No         No       2          Yes
...      ...            ...     ...        ...     ...          ...
7038    Male              0     Yes        Yes      24          Yes
7039  Female              0     Yes        Yes      72          Yes
7040  Female              0     Yes        Yes      11           No
7041    Male              1     Yes         No       4          Yes
7042    Male              0      No         No      66          Yes

         MultipleLines InternetService OnlineSecurity OnlineBackup  \
0     No phone service             DSL             No          Yes
1                   No             DSL            Yes           No
2                   No             DSL            Yes          Yes
3     No phone service             DSL            Yes           No
4                   No     Fiber optic             No           No
...                ...             ...            ...          ...
7038               Yes             DSL            Yes           No
7039               Yes     Fiber optic             No          Yes
7040  No phone service             DSL            Yes           No
7041               Yes     Fiber optic             No           No
7042                No     Fiber optic            Yes           No

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0                  No          No          No              No  Month-to-month
1                 Yes          No          No              No        One year
2                  No          No          No              No  Month-to-month
3                 Yes         Yes          No              No        One year
4                  No          No          No              No  Month-to-month
...               ...         ...         ...             ...             ...
7038              Yes         Yes         Yes             Yes        One year
7039              Yes          No         Yes             Yes        One year
7040               No          No          No              No  Month-to-month
7041               No          No          No              No  Month-to-month
7042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod  MonthlyCharges Churn
0                 Yes           Electronic check           29.85    No
1                  No               Mailed check           56.95    No
2                 Yes               Mailed check           53.85   Yes
3                  No  Bank transfer (automatic)           42.30    No
4                 Yes           Electronic check           70.70   Yes
...               ...                        ...             ...   ...
7038              Yes               Mailed check           84.80    No
7039              Yes    Credit card (automatic)          103.20    No
7040              Yes           Electronic check           29.60    No
7041              Yes               Mailed check           74.40   Yes
7042              Yes  Bank transfer (automatic)          105.65    No

[7043 rows x 19 columns]>

In [6]:
churn.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
Churn               0
dtype: int64

In [7]:
churn.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'Churn'],
      dtype='object')

In [8]:
#replacing our Churn output by integer constants
churn.loc[churn['Churn']=='No','Churn'] = 0
churn.loc[churn['Churn']=='Yes','Churn'] = 1

In [9]:
churn.loc[churn['Partner']=='No','Partner'] = 0
churn.loc[churn['Partner']=='Yes','Partner'] = 1

In [10]:
churn.Churn = pd.to_numeric(churn.Churn)

In [11]:
#employee numeric columns
churn_num = churn[churn.select_dtypes(include=[np.number]).columns.tolist()]

In [12]:
churn_num.head()

   SeniorCitizen  tenure  MonthlyCharges  Churn
0              0       1           29.85      0
1              0      34           56.95      0
2              0       2           53.85      1
3              0      45           42.30      0
4              0       2           70.70      1

In [13]:
churn_dummies = pd.get_dummies(churn[churn.select_dtypes(include=['object']).columns.tolist()])

In [14]:
churn_dummies.dtypes

gender_Female                              uint8
gender_Male                                uint8
Partner_0                                  uint8
Partner_1                                  uint8
Dependents_No                              uint8
Dependents_Yes                             uint8
PhoneService_No                            uint8
PhoneService_Yes                           uint8
MultipleLines_No                           uint8
MultipleLines_No phone service             uint8
MultipleLines_Yes                          uint8
InternetService_DSL                        uint8
InternetService_Fiber optic                uint8
InternetService_No                         uint8
OnlineSecurity_No                          uint8
OnlineSecurity_No internet service         uint8
OnlineSecurity_Yes                         uint8
OnlineBackup_No                            uint8
OnlineBackup_No internet service           uint8
OnlineBackup_Yes                           uint8
DeviceProtection_No                        uint8
DeviceProtection_No internet service       uint8
DeviceProtection_Yes                       uint8
TechSupport_No                             uint8
TechSupport_No internet service            uint8
TechSupport_Yes                            uint8
StreamingTV_No                             uint8
StreamingTV_No internet service            uint8
StreamingTV_Yes                            uint8
StreamingMovies_No                         uint8
StreamingMovies_No internet service        uint8
StreamingMovies_Yes                        uint8
Contract_Month-to-month                    uint8
Contract_One year                          uint8
Contract_Two year                          uint8
PaperlessBilling_No                        uint8
PaperlessBilling_Yes                       uint8
PaymentMethod_Bank transfer (automatic)    uint8
PaymentMethod_Credit card (automatic)      uint8
PaymentMethod_Electronic check             uint8
PaymentMethod_Mailed check                 uint8
dtype: object

In [15]:
churn_combined = pd.concat([churn_num,churn_dummies],axis=1)

In [16]:
churn_combined.head()

,SeniorCitizen,tenure,MonthlyCharges,Churn,gender_Female,gender_Male,Partner_0,Partner_1,Dependents_No,Dependents_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,29.85,0,1,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
1,0,34,56.95,0,0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,0,2,53.85,1,0,1,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,0,45,42.30,0,0,1,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,0,2,70.70,1,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [17]:
churn_combined

,SeniorCitizen,tenure,MonthlyCharges,Churn,gender_Female,gender_Male,Partner_0,Partner_1,Dependents_No,Dependents_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,29.85,0,1,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
1,0,34,56.95,0,0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,0,2,53.85,1,0,1,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,0,45,42.30,0,0,1,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,0,2,70.70,1,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,0,0,1,0,1,0,1,...,1,0,1,0,0,1,0,0,0,1
7039,0,72,103.20,0,1,0,0,1,0,1,...,1,0,1,0,0,1,0,1,0,0
7040,0,11,29.60,0,1,0,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
7041,1,4,74.40,1,0,1,0,1,1,0,...,0,1,0,0,0,1,0,0,0,1
7042,0,66,105.65,0,0,1,1,0,1,0,...,1,0,0,1,0,1,1,0,0,0

In [18]:
#dividing data into train and test dataset
from sklearn.model_selection import train_test_split

#from random import seed

#seed(20)
train_x =churn_combined.drop(['Churn'],axis=1)
train_y = churn_combined['Churn']

#train test split
X_train,X_test,y_train,y_test = train_test_split(train_x,train_y, test_size=0.3, random_state=20)

In [19]:
X_train.columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'gender_Female',
       'gender_Male', 'Partner_0', 'Partner_1', 'Dependents_No',
       'Dependents_Yes', 'PhoneService_No', 'PhoneService_Yes',
       'MultipleLines_No', 'MultipleLines_No phone service',
       'MultipleLines_Yes', 'InternetService_DSL',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_No', 'OnlineSecurity_No internet service',
       'OnlineSecurity_Yes', 'OnlineBackup_No',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No', 'DeviceProtection_No internet service',
       'DeviceProtection_Yes', 'TechSupport_No',
       'TechSupport_No internet service', 'TechSupport_Yes', 'StreamingTV_No',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No', 'StreamingMovies_No internet service',
       'StreamingMovies_Yes', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaperlessBilling_No', 'PaperlessBilling_Yes',
       'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [20]:
#import tree classifier model
from sklearn import tree 

dt = tree.DecisionTreeClassifier()

# train the model using the training sets
dt.fit(X_train, y_train)

#predict the response for test dataset
y_pred = dt.predict(X_test)

In [21]:
#import scikit-learn metrics module for accuracy calculation 
from sklearn import metrics

#model accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
#model precision
print("Precision:", metrics.precision_score(y_test, y_pred))
#model recall
print("Recall:", metrics.recall_score(y_test, y_pred))

Accuracy: 0.7217226691907241
Precision: 0.45528455284552843
Recall: 0.525328330206379

In [23]:
#import random forest
from sklearn.ensemble import RandomForestClassifier

#build a classifier 
rf = RandomForestClassifier(n_estimators=100)

#Train the model using the trainig sets
rf.fit(X_train, y_train)

#predict the response for test dataset
y_pred = rf.predict(X_test)

In [24]:
#import scikit-learn metrics module for accuracy calculation 
from sklearn import metrics

#model accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
#model precision
print("Precision:", metrics.precision_score(y_test, y_pred))
#model recall
print("Recall:", metrics.recall_score(y_test, y_pred))

Accuracy: 0.7903454803596782
Precision: 0.5957446808510638
Recall: 0.525328330206379

In [25]:
from time import time
from scipy.stats import randint as sp_randint
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
#utility funcation to report best scores
def report(results, n_top = 3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score']==i)
        for candidates in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                results['mean_test_score'][candidates],
                results['std_test_score'][candidates]))
            print("Parameters:{0}".format(results['params'][candidates]))
            print("")

In [26]:
#specify parameters and distributions of sample from
param_dist = {"max_depth": [3, None],
             "max_features": sp_randint(1, 11),
             "min_samples_split": sp_randint(2, 11),
             "bootstrap": [True, False],
             "criterion": ["gini","entropy"]}

#run randomized search
n_iter_search = 20
random_search = RandomizedSearchCV(rf, param_distributions= param_dist,
                                  n_iter=n_iter_search, cv=5)

In [27]:
start = time()
random_search.fit(X_train,y_train)
print("RandomizedSearchCV took %.2f seconds for %d candidates"
     "parameter settings." % ((time() -start), n_iter_search))
report(random_search.cv_results_)

RandomizedSearchCV took 35.20 seconds for 20 candidatesparameter settings.
Model with rank: 1
Mean validation score: 0.790 (std: 0.009)
Parameters:{'bootstrap': True, 'criterion': 'entropy', 'max_depth': None, 'max_features': 6, 'min_samples_split': 5}

Model with rank: 2
Mean validation score: 0.789 (std: 0.008)
Parameters:{'bootstrap': False, 'criterion': 'gini', 'max_depth': None, 'max_features': 5, 'min_samples_split': 10}

Model with rank: 3
Mean validation score: 0.788 (std: 0.010)
Parameters:{'bootstrap': True, 'criterion': 'gini', 'max_depth': None, 'max_features': 4, 'min_samples_split': 7}

In [28]:
#grid search

In [29]:
#use a full grid over all parameters
param_grid = {"max_depth":[3,None],
             "max_features":[1,3,10],
             "min_samples_split":[2,3,10],
             "bootstrap":[True,False],
             "criterion":["gini","entropy"]}

In [30]:
#run grid search
grid_search = GridSearchCV(rf, param_grid=param_grid, cv=5 )
start = time()
grid_search.fit(X_train,y_train)

print("GridSearchCV took %.2f seconds for %d candidate parameter settings."
     %(time() - start,len(grid_search.cv_results_['params'])))
report(grid_search.cv_results_)

GridSearchCV took 112.25 seconds for 72 candidate parameter settings.
Model with rank: 1
Mean validation score: 0.793 (std: 0.005)
Parameters:{'bootstrap': True, 'criterion': 'entropy', 'max_depth': None, 'max_features': 10, 'min_samples_split': 10}

Model with rank: 2
Mean validation score: 0.792 (std: 0.007)
Parameters:{'bootstrap': True, 'criterion': 'gini', 'max_depth': None, 'max_features': 10, 'min_samples_split': 10}

Model with rank: 3
Mean validation score: 0.790 (std: 0.011)
Parameters:{'bootstrap': True, 'criterion': 'gini', 'max_depth': None, 'max_features': 3, 'min_samples_split': 10}

In [31]:
#now run the random forest with the best parameters of search 

#build a classifier with best of random search
rf_random_search = RandomForestClassifier(n_estimators=100, bootstrap = True, criterion = 'gini', max_features=10, min_samples_split= 10)

In [32]:
#train the model using the training  sets with best of Random search
rf_random_search.fit(X_train,y_train)

RandomForestClassifier(max_features=10, min_samples_split=10)

In [33]:
#predict the response for test dataset with best of random search
y_pred = rf_random_search.predict(X_test)

In [34]:
#model accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
#model precision
print("Precision:", metrics.precision_score(y_test, y_pred))
#model recall
print("Recall:", metrics.recall_score(y_test, y_pred))

Accuracy: 0.8078561287269286
Precision: 0.6371490280777538
Recall: 0.5534709193245778